@import "../index.css";
body {
  margin: 0;
}
.wrapper {
  width: 100%;
  background-color: var(--bgDark);
}

.container {
  width: 100%;
  margin: auto;
  max-width: 1280px;
  padding-top: 2.5rem;
  height: calc(100vh - 11.5rem);
}

.product-details {
  display: flex;
  width: 100%;
  margin-bottom: 1.5rem;
}

.title {
  font-size: xx-large;
  color: white;
  font-family: "Montserrat", sans-serif;
}
.product-img {
  width: 100%;
  padding-bottom: 36.33%;
  position: relative;
  overflow: hidden;
}
.img {
  position: absolute;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
.desc {
  display: flex;
  flex-direction: column;
  row-gap: 1.125rem;
  padding: 2.5rem 1rem 0 1rem;
}
.product-desc {
  font-size: larger;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  color: rgb(215, 232, 235);
}
.product-price {
  font-size: larger;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  color: rgb(63, 236, 184);
}
.product-buy {
  width: 8rem;
}
.product-add {
  width: 100%;
  height: 2.225rem;
  border: none;
  background-color: rgb(52, 127, 161);
  outline: none !important;
  border-radius: 1.125rem;
  color: rgb(255, 255, 255);
  font-size: x-large;
  text-transform: uppercase;
  font-family: "Montserrat", serif;
}
.product-add:hover {
  cursor: pointer;
}
.recommendations {
  display: flex;
  column-gap: 1.425rem;
}
.item {
  width: 18rem;
  height: 18rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.name:hover {
  cursor: pointer;
}
.name {
  color: bisque;
  font-size: x-large;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.image-wrapper-shoe {
  width: 100%;
  padding-bottom: 61%;
  position: relative;
  overflow: hidden;
}

.img-cursed {
  position: absolute;
  height: auto;
  top: 66%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.img {
  position: absolute;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
.price {
  margin: 1.225rem 0;
  font-size: 1.725rem;
  color: rgb(63, 236, 184);
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
}
.add {
  width: 100%;
}
.btn-add {
  width: 100%;
  height: 2.225rem;
  border: none;
  background-color: rgb(52, 127, 161);
  outline: none !important;
  border-radius: 1.125rem;
  color: rgb(255, 255, 255);
  font-size: x-large;
  text-transform: uppercase;
  font-family: "Montserrat", serif;
}
.btn-add:hover {
  cursor: pointer;
}
@media only screen and (max-width: 750px) {
  .product-details {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    width: 100%;
  }
  .product-img {
    width: 100%;
    padding-bottom: 56.33%;
    position: relative;
    overflow: hidden;
  }
}
